.right-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: #333;
}

/* Form styling */
.right-section form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.right-section .form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-section label {
  flex-shrink: 0;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
  margin-right: 1rem;
}

.right-section label[for="lastName"] {
  margin-left: 1rem; /* Add spacing */
}

.right-section label[for="email"] {
  margin-left: 1rem; /* Add spacing */
}

.right-section input[type="text"],
.right-section input[type="email"],
.right-section textarea {
  padding: 0.5rem; /* Reduced padding */
  font-size: 1rem; /* Equivalent to 16px */
  border: 1px solid #ccc;
  border-radius: 0.3125rem; /* Equivalent to 5px */
  width: 100%;
  box-sizing: border-box;
  margin-left: 0.625rem; /* Space between label and input */
  font-family: 'Roboto', sans-serif;
}

.right-section input[type="radio"] {
  margin-right: 0.3125rem; /* Reduced margin */
}

.right-section textarea {
  resize: vertical;
  height: 6.25rem; /* Reduced height */
}

.right-section .gender-row input[type="radio"] {
  margin-right: 0.3rem;
  margin-left: 1rem;
}

.right-section .gender-row label {
  margin-right: 1rem; /* Space between label and first radio button */
}

/* Submit button styling */
.right-section input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.right-section input[type="submit"]:hover {
  background-color: #45a049;
}

/* Error message styling */
.right-section #errorMessage {
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  color: red;
}

.right-section input.error, .right-section textarea.error {
  border: 2px solid red; /* Set the border color to red for error state */
}

/* Notification styling */
.right-section #notification {
  display: none;
  position: fixed;
  top: 1.25rem; /* Position adjusted for consistency */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem; /* Reduced padding */
  border-radius: 0.3125rem; /* Equivalent to 5px */
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.right-section .gender-row {
  justify-content: flex-start; /* Align gender labels to the start */
}